<h3>Sign Up</h3>

<%= simple_form_for @user, html: { class: 'form-horizontal' } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
	<%= f.input :name, label: 'Username', hint: 'One word, no special characters please.' %>
	<%= f.input :email, label: 'Email' %>
	<%= f.input :password, label: 'Password' %>
	<%= f.input :password_confirmation, label: 'Confirm password' %>

  <%= f.button :submit, "Create my account", class: "btn btn-small" %>
<% end %>
