<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %> has <%= pluralize(@user.presents.count, "Link", "Links") %>
      </h1>
    </section>
  </aside>

  <div class="span8">
		<% if @user.presents.empty? %>
			<% if current_user?(@user) %>
				<p>
					Awwwww, you don't have any links. <%= link_to 'Create', newpresent_path %> your first link.
				</p>
			<% else %>
				<p>
					How sad, this person doesn't have any links.
				</p>
			<% end %>
		<% else %>
		<% if current_user?(@user) %>
				<p>
					<%= link_to 'Add another link!', newpresent_path %>
				</p>
			<% end %>
		<p>
				<%= render 'shared/list' %>
			</p>
	<% end %>
	</div>
</div>

