<% if signed_in? %>
<div class="present span6 offset1 capsule" id="new">
	<ul id="new">
		<span class="content">
			<strong>You would like this:</strong>
			<%= simple_form_for :presents, url: presents_path do |f| %>
				<%= f.input :content, label: false, wrapper_html: { id: "linkNameInput", class: "freshCapsule" } %>
				<%= f.input :link, label: false, wrapper_html: { id: "linkInput", class: "freshCapsule" } %>
				<%= f.hidden_field :purchased, value: '0' %>
				<%= f.button :submit, "List", class: "btn btn-small" %>
			<% end %>
		</span>
	</ul>
</div>
<% end %>

<% if @Presents.any? %>
  <%= render partial: 'shared/list_item', collection: @Presents %>
<% end %>

