<% if signed_in? %>
<div class="present span6 offset1 capsule" id="new">
	<ul id="new">
		<span class="content">
			<%= form_for :present, action: 'new', url: presents_path do |f| %>
				<strong>You would like this:</strong>
				<%= f.text_field :content, id: "linkNameInput", class: "freshCapsule" %>
				<strong> which can be found here:</strong>
				<%= f.text_field :link, id: "linkInput", class: "freshCapsule" %>
        <%= f.hidden_field :purchased, value: '0' %>
				<%= f.submit "List", class: "btn btn-mini" %>
			<% end %>
		</span>
	</ul>
</div>
<% end %>

<% if @Presents.any? %>
  <%= render partial: 'shared/list_item', collection: @Presents %>
<% end %>

