<!DOCTYPE html>
<html>
	<head>
	  <title>PotentialPresents</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

		<style type="text/css">
        body {
            padding-top: 20px;
            padding-bottom: 40px;
        }

            /* Custom container */
        .container-narrow {
            margin: 0 auto;
            max-width: 700px;
        }

        .container-narrow > hr {
            margin: 30px 0;
        }

            /* Main marketing message and sign up button */
        .jumbotron {
            margin: 60px 0;
            text-align: center;
        }

        .jumbotron h1 {
            font-size: 72px;
            line-height: 1;
        }

        .jumbotron .btn {
            font-size: 21px;
            padding: 14px 24px;
        }

            /* Supporting marketing content */
        .marketing {
            margin: 60px 0;
        }

        .marketing p + h4 {
            margin-top: 28px;
        }

				hr {
				  margin: 20px 0;
				  border: 0;
				  border-top: 1px solid #eeeeee;
				  border-bottom: 1px solid #ffffff;
				}
    </style>

	</head>
	<body>

		<div class="container-narrow">

			<%= render 'layouts/header' %>
			<%= yield %>

			<!--		<%= debug(params) if Rails.env.development? %> --!>

		</div>	
	</body>
</html>
